<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- jQuery UIを使うためにjQuery本体とテーマCSSを読み込む -->
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/jquery.ui.chatbox.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}" />
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="{{ static_url('js/jquery.ui.chatbox.js') }}"></script>

    <script>
        <!-- WebSocket接続を開くためにWebsocketコンストラクタを呼び出す / wsは接続用URLスキーマ → 後でwssにしたい -->
        // Application()が動くと引数指定されているbase.htmlが動く
        var connection = new WebSocket('ws://' + location.host + '/chat');
        function sendAction(img_path, msg) {
            var message = {
                img_path: img_path,
                message: msg
            };
            //サーバーに接続（openイベントが起動）したら、send()メソッドを使用してサーバーへのデータ送信を開始
            connection.send(JSON.stringify(message)); // サーバーもクライアントに
        }
        connection.onopen = function(data) { // Websocket接続成功時の処理
        }
        connection.onclose = function() { // Websocket接続切断時の処理
        }
        connection.onmessage = function(event) { // メッセージを受信した際の処理
            var data = JSON.parse(event.data);
            if ('messages' in data) {
                var messages = data.messages;
                for (var i=0; i<messages.length; i++) {
                    $("#chat_div").chatbox("option", "boxManager").addMsg(messages[i].img_path, messages[i].message, false);
                }
            } else {
                $("#chat_div").chatbox("option", "boxManager").addMsg(data.img_path, data.message, false);
            }
        }
        $(document).ready(function() {
            $("#chat_div").chatbox(
                {id : "chat_div",
                 title : "Neko De Message",
                 user : "hoge",
                 offset: 0,
                 width: 500,
                 messageSent: function(id, user, msg){
                     var img_path = $('#face').attr('src');
                     this.boxManager.addMsg(img_path, msg, true);
                     sendAction(img_path, msg);
            }});
        });
    </script>
</head>
<body>
    <img src="{{ img_path }}" id="face" style="visibility:hidden">
    <div id="chat_div" class="chat"></div>
</body>
</html>
